/build*
/thirdParty
/out
/.vs
/dependencies/PTTK
/dependencies/assimp
/dependencies/glad
/dependencies/SDL
/dependencies/glm
/dependencies/imgui
/dependencies/stb
*__pycache__*
*.code-workspace
dependencies/launch-cmake-18.sh
.vscode/*