/build*
/thirdParty
/out
/.vs
/dependencies/*
!/dependencies/dependencies_compilation.sh
/include/glad
/include/KHR
/src/glad
/include/imgui
/src/imgui/base
/include/stb
*__pycache__*
*.code-workspace
dependencies/launch-cmake-18.sh
.vscode/*